<!DOCTYPE html>
<html>
<head>
    <title>GIF Aleatório</title>
    <style>
        body {
            background-image: url("{{ background_image }}");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, sans-serif;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
    <h1>Bem-vindo à página de GIFs Aleatórios!</h1>
    <p>Aproveite o GIF aleatório:</p>
    <img src="{{ background_image }}" alt="GIF Aleatório">
</body>
</html>
